<h1>Pictures by Tags</h1>

<ul>
    <% @tags.each do |tag| %>
        <li>
        <%= link_to tag.name, tag_path(tag)%>
        </li>
    <% end %>
    </br>
    <%= button_to "All Users", users_path, method: "get" %>
</ul>
