<h1>All Pictures</h1>


<ul>
    <% @pictures.each do |pic| %>
        <li>
        <%= link_to pic.title, picture_path(pic) %>
        </li>
    <% end %>
    </br>
    <%= button_to "All Users", users_path, method: "get" %>
    </br>
    <%= button_to "All Tags", tags_path, method: "get" %>
</ul>